@media screen and (min-width: 320px) and (max-width: 320px) {
  /*Global*/
  .page__body{
    width: auto;
    max-width: 300px;
  }
  /*Header*/
  .header__logo{
    width: 70px;
  }
  .header__burger{
    width: 25px;
    height: 25px;

  }
  .header__wrapper{
    margin-bottom: 14px;
  }

  /*main__section*/
  .main-shadow{
    width: 610px;
    height: 700px;
    left: -150px;
  }
  .main__section{
    justify-items: start;
    margin-bottom: 90px;
  }
  .title__text{
    width: 278px;
    margin: 0px;
    font-size: 16px;
  }
  .title__div{
    width: 278px;
    text-align: center;
    margin: 0 auto;
  }
  .title{
    font-size: 30px;
  }
  .title__button{
    width: 262px;
    margin-top: 40px;
    height: 76px;
    font-size: 14px;
  }
  .main__video img{
    width: 228px;
  }
  .main__video{
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 40px;
  }
  .video{
    width: 229px;
    height: 188px;
  }
  .pluses{
    margin-right: 0px;
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;
  }
  .pluses__elm img{
    width: 27px;
    height: 40px;
  }
  .pluses__text{
    font-size: 14px;
    width: auto;
    letter-spacing: 0px;
  }
  .pluses__elm--center{

    margin: 0;
  }
  /*about-company*/
  .about-company{
  margin-bottom: 90px;
  }
  .about-company__title{
    width: 266px;
    font-size: 30px;
  }
  .about-company__title span{
    font-size: 20px;
  }
  .about-company__list{
    row-gap: 30px;
  }
  .about-company__text span{
    font-size: 64px;
    line-height: 70px;
  }
  .about-company__text p{
    font-size: 18px;
  }
  /*pool-pluses*/
  .pool-pluses-shadow{
    width: 610px;
  }
  .pool-pluses{
    margin-bottom: 100px;
  }
  .pool-pluses__title{
    font-size: 30px;
  }
  .child-title-1{
    font-size: 30px;
    font-weight: normal;
  }
  .child-title{

    line-height: 0px;
  }
  .pool-pluses-elm{
    width: 260px;
    height: 151px;
    margin: 0 auto;
  }
  .pool-pluses-title{
    font-size: 18px;
  }
  .pool-pluses-text{
    font-size: 14px;
    width: 233px;
  }
  .pool-pluses-list{
    row-gap: 90px;
  }
  .pool-pluses__button{
    width: 224px;
    height: 64px;
    etter-spacing: 0.22em;
    font-size: 14px;
  }
  .pool-pluses-img{
    width: 160px;
    margin-top: -37px
  }
  /*pools-series*/
  .pool-pluses-shadow-left, .pool-pluses-shadow-right{
    display: none;
  }
  .pool-pluses-shadow-center{
    left: -300px;
  }
  .pools-series{
    margin-bottom: 90px;
  }
  .pools-series__title{
    font-size: 30px;
    width: 306px;
    line-height: 30px;
  }
  .pools-series__control{
    width: 300px;
    display: block;
  }
  .pools-series__wrapper{
    display: grid;
    grid-template-columns: 129px 129px;
    grid-template-rows: 38px;
  }
  .pools-series__text{
    font-size: 10px;
  }
  .pools-series__elm{
    width: 129px;
    height: 40px;
    padding-top: 5px;
  }
  .pools-series__elm--shadow{
    width: 200px;
    height: 100px;
    left: -30px;
  }
  .child-title{
    font-size: 20px;
  }
  .mobile-hide{
    display: none;
  }
  .series-description{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 300px;
    grid-template-columns: 300px;
    grid-template-areas: "title"
                         "img"
                         "feature"
                         "size"
                         "btn";
    height: 980px;
  }
  .series-description__title-wrapper{
    margin: 0 auto;
    width: 268px;
  }
  .series-description__title{
    font-size: 18px;
    text-align: center;
  }
  .series-description__title-text{
    font-size: 14px;
    text-align: center;
  }
  .series-description__main-img{
    margin: 0 auto;
    margin-top: -13px;
    width: 280px;
    height: 157px;
  }
  .series-feature__list{
    justify-content: space-around;
    grid-template-rows: auto auto;
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
  }
  .series-feature{
    margin-top: 0px;
    width: 300px;
  }
  .series-description__button{
    width: 279px;
    height: 56px;
    margin: 0 auto;
    font-size: 14px;
  }
  .color__list{
    width: 290px;
    column-gap: 10px;
  }
  .series-feature__title{
    font-size: 16px;
    text-align: center;
  }
  .series-feature__list{
    margin: 0 auto;
    justify-content: center;
  }
  .series-feature{
    margin-bottom: 0px;
  }
  .border-list{
    width: 265px;
    margin: 0 auto;

  }
  .border__list{
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: 30px;
    grid-template-rows: none;
    justify-content: space-evenly;
  }
  .series-feature__elm{
    width: 40px;
  }
  .series-size__title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .series-size{
    margin: 0 auto;
    width: 200px;
  }
  .series-size__img{
    width: 69px;
    margin-right: 10px;
  }
  .series-size__description{
    font-size: 14px;
  }
  /*pools-slider*/
  .pools-slider{
    margin-bottom: 80px;
  }
  .pool-slider{
    grid-template-rows: auto 28px;
    grid-template-columns: none;
    grid-template-areas: "slider-img"
                         "left""right";
  }
  .pools-slider__title{
    font-size: 30px;
    margin-bottom: 10px
  }
  .pools-slider__img{
    grid-area: slider-img;
    width: 301px;
    order: 1;
  }
  .pools-slider__arrow-left{
    grid-area: left;
    order: 2;
    width: 45px;
    margin-bottom: -33.5px;
    margin-right: 85px;
  }
  .pools-slider__arrow-right{
    grid-area: right;
    margin-top: -20px;
    order: 3;
    width: 45px;
    margin-left: 80px;
  }
  /*dealers-map*/
  .dealers-map{
    margin-bottom: 50px;
  }
  .dealers-map__first-title{
    font-size: 30px;
  }
  .dealers-map__first-title span{
    font-size: 20px;
  }
  .dealers-map__map iframe{
    width: 301px;
    height: 250px;
  }
  .dealers-map__map{
    margin-top: -20px;
  }
  /*company-info*/
  .company-info-shadow{
    display: none
  ;
  }
  .phone-number__title{
    font-size: 30px;
    margin: 0 auto;
  }
  .pnone-number__text{
    font-size: 18px;
    width: 285px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .pnone-number__form{
    width: 253px;
    margin: 0 auto;
    height: 216px;
    padding-top: 20px;
  }
  .pnone-number__input{
    width: 223px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1.5px solid #00020E;
    color: #00020E;

  }
  .phone-number__description{
    font-size: 10px;
    width: 165px;
  }
  .pnone-number__button{
    width: 223px;
    height: 57px;
    font-size: 14px;
  }
  .call-us{
    width: 277px;
    height: 139px;
    border-radius: 5px;
    border: 2px solid #63BFFD;
    padding-top: 9px;
    margin-top: 40px;
  }
  .call-us__title{
    font-size: 14px;
    height: 18px;
    margin-bottom: 20px;
  }
  .call-us__tel{
    font-size: 24px;
  }
  .call-us__description{
    font-size: 14px;
    margin-top: -5px;
  }
  /*footer*/
  .footer{
    flex-direction: column;
    margin-top: 90px;
  }
  .footer__logo{
    width: 65px;
  }
  .footer__company-info{
    margin-bottom: 20px;
  }
  .company-info__title{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .company-info__text{
    font-size: 14px;
  }
  .company-info__privacy{
    display: none;
  }
  .company-info__div{
    margin-bottom: 15px;
  }
  .email-link{
    width: 64px;
    height: 26px;
    top: 0px;
    left: 220px;
  }
  .email-link__text{
    font-size: 10px;
    margin-top: 2px;
  }
  .email-link__img{
    width: 12.6px;
    height: 9px;
  }
}
