/*Global*/
ul,p{
  margin: 0;
  padding: 0;
}
img{}
.button{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  font-size: 15px;
  color: #00020E;
  width: 300px;
  height: 78px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(308.43deg, #56B7FD 0%, #90E1FA 41.36%, #56B7FD 100%);
  box-shadow: 0px 4px 0px #5CAFEB,
  inset -4px -4px 8px rgba(255, 255, 255, 0.08),
  inset 3px 3px 8px rgba(255, 255, 255, 0.12);
}
.page__body{
  width: 1160px;
  margin: 0 auto;
  background-color: #00020E;
  color: #F9F9F9;
}
ul{
  list-style: none;
}
p, a, span{
  font-family: "TT Norms";
  font-weight: normal;
  text-decoration: none;
}
.cursive{
  font-weight: 500;
}
/*Header*/
.header__burger{
  width: 40px;
  height: 40px;
  background-image: url("../img/Group 1266.svg");
  display: none;
}
.header__wrapper{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.header__nav{
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.header__nav li{
  font-size: 18px;
}
.header__contacts p {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.header__contacts a{
  font-size: 16px;
  border-bottom: 1px dashed #F9F9F9;
  margin-left: 47px;
}
.header__contacts a::before{
  content: "";
  position: absolute;
  background-image: url('../img/phone.svg');
  top: 5px;
  left: -25px;
  width: 12px;
  height: 12px;
}
/*main-section*/
.main__section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.title{
  font-size: 48px;
}
.title span{
  font-weight: 500;
}
.title__text{
  font-size: 22px;
  line-height: 150%;
  width: 512px;
}
.pluses{
  display: flex;
  gap: 50px;
}
.pluses__elm{
  display: flex;
  flex-wrap: wrap;
}
.pluses__text{
  margin-left: 10px;
  letter-spacing: 0.13em;
  line-height: 21px;
  width: 188px;
}
.pluses__text span{
  font-weight: 500;
}
/*about-company*/
.about-company__title{
  margin: 0 auto;
  font-size: 48px;
  font-weight: 500;
  width: 426px;
  text-align: center;
}
.about-company__title span{
  font-weight: normal;
  font-size: 36px;
}
.about-company__list{
  display: flex;
  justify-content: space-around;
}
.about-company__text{
  font-size: 24px;
  text-align: center;
}
.about-company__text span{
  font-size: 96px;
  font-weight: bold;
  line-height: 106px;
  text-align: center;
  letter-spacing: 0.055em;
  background: linear-gradient(180deg, #6BC0FE 19.17%, #90E1FA 53.97%, #6BC0FE 85.98%, #6BC0FE 85.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*pool-pluses*/
.pool-pluses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pool-pluses__title{
  margin: 0 auto;
  font-size: 48px;
  width: 735px;
  margin-bottom: 90px;
}
.child-title-1, .child-title-2{
  font-weight: 500;
}
.child-title{
  font-size: 36px;
}
.pool-pluses-list{
  display: flex;
  gap: 40px;
  row-gap: 100px;
  flex-wrap: wrap;
}
.pool-pluses-elm{
  background-color: #F9F9F9;
  box-shadow: 0px 10px 5px rgba(255,255,255, 0.5);
  border-radius: 5px;
  color: #00020E;
  width: 360px;
  height: 203px;
  text-align: center;
}
.pool-pluses-img{
  margin-top: -60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pool-pluses-title{
  font-weight: 500;
  font-size: 24px;
}
.pool-pluses-text{
  font-size: 18px;
  font-weight: 300;
}
.pool-pluses__button{
  justify-content: center;
}
/*pools-series*/
.pools-series__title{
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  width: 895px;
}

.pools-series__title span {
  font-weight: 500;
}
.pools-series__wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  row-gap: 40px;
  margin-bottom: 50px;
}
.pools-series__elm{
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid;
  border-image-source: linear-gradient(93.85deg, #6AC1FE 0%, #8CDEFB 44.78%, #6AC1FE 99.97%);
  border-image-slice: 1;
  width: 170px;
  height: 44px;
}
.pools-series__text{
  cursor: pointer;
}
.series-description{
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
  height: 540px;
  padding-top: 45px;
  padding-left: 30px;
  padding-bottom: 40px;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #00020E;
  display: grid;
  box-shadow: 0px 5px 28px 0px #22242B40;
  grid-template-columns: 374px 526px;
  grid-template-areas: "title feature"
                       "img feature"
                       "btn size";
}
.series-description__title-wrapper{
  grid-area: title;
}
.series-description__title{
  font-size: 24px;
  font-weight: 500;
}
.series-description__title-text{
  font-size: 18px;
}
.series-description__main-img{
  grid-area: img;
}
.series-description__button{
  grid-area: btn;
  width: 337px;
  height: 68px;
}
.series-feature{
  grid-area: feature;
}
.series-feature__list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  font-size: 10px;
  row-gap: 30px;
}
.series-feature__img{
  display: block;
  margin: 0 auto;
}
.series-feature__name{
  text-align: center;
}
.control-elm{

}
.series-feature__elm{
  max-width: 58px;
}
.series-feature__title,
.series-size__title{
  font-size: 18px;
  margin-bottom: 10px;
}
.border-list{
  margin-top: 15px;
}
.series-size__description{
  font-weight: 300;
}

.series-size{
  grid-area: size;
}
.series-size{
  margin-top: -50px;
}
.series-size__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.series-size__elm{
  width: 247px;
  display: flex;
}
.series-size__img{
  margin-right: 20px;
}
/*pools-slider*/
.pools-slider__title{
  font-size: 48px;
  text-align: center;
}
.pool-slider{
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
}

.pools-slider__img{
  width: 100%;
}
.pools-slider__arrow-left, .pools-slider__arrow-right{
  width: 60px;
  height: 60px;
}
/*dealers-map*/
.dealers-map__first-title{

  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
.dealers-map__first-title span{
  font-size: 36px
}
.dealers-map__map{
  margin: 0 auto;
  display: block;
}
/*company-info*/
.company-info{
  display: flex;
  column-gap: 97px;
  margin-bottom: 50px;
}
.phone-number__title{
  font-size: 48px;
  font-weight: 500;
}
.pnone-number__text{
  font-size: 36px;
  width: 565px;
}
.pnone-number__form{
  width: 654px;
  height: 133px;
  background-color: #FCFCFC;
  padding-top: 33px;
  box-sizing: border-box;
}
.pnone-number__input{
  width: 263px;
  height: 53px;
  border: 1.5px solid #00020E;
  text-align: center;
  font-size: 18px;
  font-family: "TT Norms";
  margin-right: 40px;
  margin-left: 30px;
}
.pnone-number__button{
  width: 250px;
  height: 69px;
}
.phone-number__description{
  font-size: 14px;
}
.call-us{
  width: 400px;
  height: 146px;
  border: 5px solid;
  border-image-source: linear-gradient(93.85deg, #6AC1FE 0%, #8CDEFB 44.78%, #6AC1FE 99.97%);
  border-image-slice: 1;
  margin-top: 190px;
  text-align: center;
  line-height: 50px;
}
.call-us__title{
  font-size: 18px;

}
.call-us__tel{
  font-size: 30px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  color: #F9F9F9;
}
.call-us__description{
  font-size: 14px;
  line-height: 150%;
}
/*footer*/
.footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.footer__company-info{
  display: flex;
  flex-direction: column;
  row-gap: 140px;
}
.company-info__privacy{
  font-size: 14px;
}
.footer__contacts{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.company-info__title{
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.company-info__text{
  line-height: 150%;
  font-weight: 500;
  font-size: 20px;
}
.email-link{
  width: 102px;
  height: 41px;
  border: 1px solid #FEA670;
  display: flex;
  justify-content: space-around;
}
.email-link__img{
  display: block;
  margin: auto 0;
  width: 20px;
  height: 14px;
}
.email-link__text{
  text-decoration: none;
  color: #FEA670;
  font-size: 18px;
  line-height: 230%;
}