/*Global*/
ul,p{
  margin: 0;
  padding: 0;
}
.hide-desktop{
    display: none;
  }
img{}
.button{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  font-size: 15px;
  color: #00020E;
  width: 300px;
  height: 78px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(308.43deg, #56B7FD 0%, #90E1FA 41.36%, #56B7FD 100%);
  box-shadow: 0px 4px 0px #5CAFEB,
  inset -4px -4px 8px rgba(255, 255, 255, 0.08),
  inset 3px 3px 8px rgba(255, 255, 255, 0.12);
}
.page__body{
  width: 1160px;
  margin: 0 auto;
  background-color: #00020E;
  color: #F9F9F9;
  overflow-x: hidden;
}
ul{
  list-style: none;
}
p, a, span, input{
  font-family: "TT Norms";
  font-weight: normal;
  text-decoration: none;
}
.cursive{
  font-weight: 500;
}
.display--hide{
  display: none;
}
/*Header*/
header{
  position: relative;
}
.main-shadow{
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  position: absolute;
  top: -200px;
  height: 900px;
  width: 3000px;
  right: -910px;
  z-index: -1;
}
.header__burger{
  width: 40px;
  height: 40px;
  display: none;
}
.header__wrapper{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.header__nav{
  display: flex;
  justify-content: space-between;
  width: 250px;
  line-height: 50px;
  padding-left: 27px;
}
.header__nav li{
  font-size: 18px;
}
.header__contacts p {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.header__contacts a{
  font-size: 16px;
  color: #F9F9F9;
  border-bottom: 1px dashed #F9F9F9;
  margin-left: 47px;
}
.header__contacts{
  position: relative;
}
.header__contacts a::before{
  content: "";
  position: absolute;
  background-image: url('../img/phone.svg');
  top: 34px;
  left: 25px;
  width: 12px;
  height: 12px;
}
/*main-section*/
.main__section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-bottom: 150px;
}
.title{
  font-size: 48px;
  margin-bottom: 15px;
}
.title span{
  font-weight: 500;
}
.title__text{
  margin-left: 32px;
  font-size: 22px;
  line-height: 150%;
  width: 512px;
  margin-bottom: 60px;
}
.main__video{
  margin-top: -40px;
}
.video{
  width: 483px;
  height: 398px;
  opacity: 0.8;
}
.pluses{
  display: flex;
  gap: 50px;
  margin-top: 20px;
  margin-right: -200px;
}
.pluses__elm{
  display: flex;
}
.pluses__text{
  margin-left: 10px;
  letter-spacing: 0.13em;
  line-height: 21px;
  width: 188px;
  font-size: 18px;
}
.pluses__text span{
  font-weight: 500;
}
/*about-company*/
.about-company{
  margin-bottom: 150px;
}
.about-company__title{
  margin: 0 auto;
  font-size: 48px;
  width: 426px;
  text-align: center;
  margin-bottom: 25px;
}
.about-company__title span{
  font-weight: normal;
  font-size: 36px;
}
.about-company__list{
  display: flex;
  justify-content: space-around;
}
.about-company__text{
  font-size: 24px;
  text-align: center;
}
.about-company__text span{
  font-size: 96px;
  font-weight: bold;
  line-height: 106px;
  text-align: center;
  letter-spacing: 0.055em;
  background: linear-gradient(180deg, #6BC0FE 19.17%, #90E1FA 53.97%, #6BC0FE 85.98%, #6BC0FE 85.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*pool-pluses*/
.pool-pluses-shadow{
  position: absolute;
  z-index: -1;
  border-radius: 50px;
  height: 1500px;
  width: 2600px;
  top: -400px;
  left: -750px;
}
.pool-pluses{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 160px;
  position: relative;
}
.pool-pluses__title{
  margin: 0 auto;
  font-size: 48px;
  width: 740px;
  margin-bottom: 90px;
  line-height: 40px;
  text-align: center;
}
.child-title-1{
  font-weight: 500;
}

.child-title{
  font-size: 36px;
}
.pool-pluses-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 40px;
  row-gap: 110px;
  margin-bottom: 60px;
}
.pool-pluses-elm{
  background-color: #F9F9F9;
  box-shadow: 0px 10px 5px rgba(255,255,255, 0.5);
  border-radius: 5px;
  color: #00020E;
  width: 360px;
  height: 203px;
  text-align: center;
}
.pool-pluses-img{
  margin-top: -60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pool-pluses-title{
  font-weight: 500;
  font-size: 24px;
  margin: 5px auto;
}
.pool-pluses-text{
  font-size: 18px;
  font-weight: 300;
  margin: 0 auto;
  width: 279px;
}
.pool-pluses-text--big{
  width: 298px;
}
.pool-pluses__button{
  justify-content: center;
  margin: 0 auto;
}
/*pools-series*/
.pool-pluses-shadow-left, .pool-pluses-shadow-center, .pool-pluses-shadow-right{
  position: absolute;
  z-index: -1;
}
.pool-pluses-shadow-left{
  top: -300px;
  left: -1000px;
  height: 900px;
  width: 1500px;
  transform: rotate(219deg);
}
.pool-pluses-shadow-center{
  top: -700px;
  left: 150px;
}
.pool-pluses-shadow-right{
  height: 900px;
  width: 1500px;
  left: 600px;
  top: -300px;
  transform: rotate(136deg);
}
.pools-series{
  margin-bottom: 153px;
  position: relative;
}
.pools-series__title{
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  width: 860px;
  margin-bottom: 20px;
}
.pools-series__control{
  display: none;
}
.pools-series__title span {
  font-weight: 500;
}
.pools-series__wrapper{
  display: grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-template-rows: 50px 50px;
  grid-row-gap: 41px;
  justify-content: space-around;
  margin-bottom: 40px;

}

.pools-series__elm{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid;
  border-image-source: linear-gradient(93.85deg, #6AC1FE 0%, #8CDEFB 44.78%, #6AC1FE 99.97%);
  border-image-slice: 1;
  width: 170px;
  padding-top: 10px;
  box-sizing: border-box;
}
.pools-series__elm--shadow{
    position: absolute;
    z-index: -1;
    left: -40px;
    top: -20px;
    width: 250px;
    height: 120px;
}
.pools-series__text{
  cursor: pointer;
}
.series-description{
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
  height: 540px;
  padding-top: 45px;
  padding-left: 30px;
  padding-bottom: 40px;
  background-color: #F9F9F9;
  border-radius: 5px;
  color: #00020E;
  display: grid;
  box-shadow: 0px 5px 28px 0px #22242B40;
  grid-template-columns: 374px 526px;
  grid-template-areas: "title feature"
                       "img feature"
                       "btn size";
}
.series-description__title-wrapper{
  grid-area: title;
}
.series-description__title{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.series-description__title-text{
  font-size: 18px;
}
.series-description__main-img{
  position: relative;
  grid-area: img;
  margin-top: 20px;
}
.border-img{
  width: 337px;
  height: 220px;
  position: absolute;
  left: 0px;

}
.series-description__button{
  grid-area: btn;
  width: 337px;
  height: 68px;
  margin-top: 15px;
}
.series-feature{
  grid-area: feature;
  margin-bottom: 40px;
}
.series-feature__list{
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content max-content;
  grid-template-rows: auto auto;
  column-gap: 15px;
  row-gap: 5px;
  font-size: 10px;

}
.series-feature__img{
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.series-feature__name{
  text-align: center;
}
.control-elm{

}
.series-feature__elm{
  max-width: 58px;
  margin-bottom: 15px;
}
.series-feature__title,
.series-size__title{
  font-size: 18px;
  margin-bottom: 10px;
}
.border-list{
  margin-top: 15px;
}
.series-size__description{
  font-weight: 300;
}

.series-size{
  grid-area: size;
}
.series-size{
  margin-top: -50px;
}
.series-size__wrapper{
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
  flex-wrap: wrap;
  gap: 20px;
}
.series-size__elm{
  width: 247px;
  display: flex;
}
.series-size__img{
  margin-right: 20px;
}
/*pools-slider*/
.pools-slider{
  margin-bottom: 140px;
}
.pools-slider__title{
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.pool-slider{
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  justify-items:center;
}

.pools-slider__img{
  width: 960px;
  height: 566px;
}
.pools-slider__arrow-left, .pools-slider__arrow-right{

}
/*dealers-map*/
.dealers-map{
  margin-bottom: 150px;
}
.dealers-map__first-title{
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}
.dealers-map__first-title span{
  font-size: 36px
}
.dealers-map__map{
  margin: 0 auto;
  display: block;
  width: 960px;
}
.iframe-dealers-map{
  width: 960px;
}
/*company-info*/
.company-info-shadow{
  position: absolute;
  z-index: -1;
  top: -300px;
  left: -700px;
  height: 920px;
  width: 2900px;
}
.company-info{
  position: relative;
  display: flex;
  column-gap: 97px;
  margin-bottom: 50px;
}
.phone-number__title{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 15px;
}
.pnone-number__text{
  font-size: 36px;
  width: 565px;
  margin-bottom: 35px;
}
.pnone-number__form{
  width: 654px;
  height: 133px;
  background-color: #FCFCFC;
  padding-top: 33px;
  box-sizing: border-box;
  border-radius: 5px;
}
.pnone-number__input{
  width: 263px;
  height: 53px;
  border: 1.5px solid #00020E;
  text-align: center;
  font-size: 18px;
  font-family: "TT Norms";
  margin-right: 60px;
  margin-left: 30px;
}
.pnone-number__button{
  width: 250px;
  height: 69px;
}
.phone-number__description{
  font-size: 14px;
}
.call-us{
  width: 400px;
  height: 146px;
  border: 5px solid;
  border-image-source: linear-gradient(93.85deg, #6AC1FE 0%, #8CDEFB 44.78%, #6AC1FE 99.97%);
  border-image-slice: 1;
  margin-top: 188px;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
}
.call-us__title{
  font-size: 18px;

}
.call-us__tel{
  font-size: 30px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  color: #F9F9F9;
}
.call-us__description{
  font-size: 14px;
  line-height: 150%;
}
.phone-number__description{
  margin-left: 40px;
  margin-top: 10px;
}
/*footer*/
.footer{
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.footer__logo{
  width: 128px;
}
.footer__company-info{
  display: flex;
  flex-direction: column;
  row-gap: 140px;
}
.company-info__privacy{
  font-size: 14px;
}
.footer__contacts{
  display: flex;
  flex-direction: column;
}
.company-info__div{
  margin-bottom: 50px;
}
.company-info__title{
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.company-info__text{
  line-height: 150%;
  font-weight: 500;
  font-size: 20px;
  color: #F9F9F9;
}
.email-link{
  width: 102px;
  height: 41px;
  border: 1px solid #FEA670;
  display: flex;
  justify-content: space-around;
  color: #FEA670;
}
.email-link:hover{
  background-color: #FEA670;
}
.email-link:hover .email-link__text{
  color: #F9F9F9;
}
.email-link:hover .email-link__img{
  background-color: #F9F9F9;
}
.email-link__img{
  display: block;
  margin: auto 0;
  width: 20px;
  height: 14px;
}
.email-link__text{
  text-decoration: none;
  font-size: 18px;
  line-height: 230%;
}