@media screen and (max-width: 900px) {
  /*Global*/
  .page__body{
    width: auto;
    max-width: 620px
  }
  .hide{
    display: none;
  }
  /*Header*/
  .header__wrapper{
    margin-bottom: 0px;
  }
  .header__nav{
    display: none;
  }
  .header__contacts{
    display: none;
  }
  .header__burger{
    display: block;
  }
  .header__logo{
    width: 106px;
  }
  /*main__section*/
  .main-shadow{
    width: 900px;
    top: -200px;
    left: -140px;
  }
  .main__section{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    justify-items: center;
  }
  .title__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -60px;
  }
  .main__video{
    margin-top: 10px;
  }
  .title{
    text-align: center;
  }
  .title__text{
    text-align: center;
  }
  .title__button{
    margin: 0 auto;
  }
  .pluses{
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .pluses__elm--center{
    width: 220px;
  }
  /*about-company*/
  .about-company__list{
    flex-wrap: wrap;
  }
  /*pool-pluses*/
  .pool-pluses-shadow{
    height: 2900px;
    width: 900px;
  }
  .pool-pluses__title{
    width: 430px;
    text-align: center;
    font-size: 43px;
  }
  .child-title-2{
    font-weight: normal;
    font-size: 36px;
  }
  .pool-pluses-list{
    grid-template-columns: none;
    grid-template-rows: repeat(6, max-content);
    margin-bottom: 30px;
  }
  .pool-pluses-title{
    margin: 5px auto;
  }
  .pool-pluses-text{
    width: 279px;
    margin: 0 auto;
  }
  /*pools-series*/
  .pool-series-shadow-left, .pool-series-shadow-center, .pool-series-shadow-right{
    display: none;
  }
  .pools-series__title{
    font-size: 42px;
    width: 620px;
  }
  .child-title{
    font-size: 35px;
  }
  .pools-series__wrapper{
    column-gap: 40px;
  }
  .pools-series__control{
    width: 620px;
    height: 2px;
    margin: 30px 0;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #142F4E;
    display: block;
  }
  .pools-series__control::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #13bba4;
  }

  .pools-series__control::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #43e5f7;
    box-shadow: -310px 0 0 310px #43e5f7;
  }

  .pools-series__control::-moz-range-progress {
    background-color: #43e5f7;
  }

  .pools-series__control::-moz-range-track {
    background-color: #142F4E;
  }

  .pools-series__control::-ms-fill-lower {
    background-color: #43e5f7;
  }

  .pools-series__control::-ms-fill-upper {
    background-color: #142F4E;
  }

  .series-description{
    width: 620px;
    height: 634px;
    padding-left: 15px;
    grid-template-columns: 320px 262px;
    grid-template-areas: "title img"
                         "feature size"
                         "feature size"
                         "btn btn";
  }
  .series-description__title-wrapper{
    width: 320px;
  }
  .series-feature{
    margin-top: -90px;
  }
  .series-description__main-img{
    width: 263px;
  }
  .series-feature__list{
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
  }
  .series-feature__elm{
    margin-bottom: 0px;
  }
  .series-description__button{
    margin: 0 auto;
    margin-top: -35px;
  }
  .series-size{
    margin-top: 10px;

  }
  .series-size__wrapper{
    grid-template-columns: none;
    grid-template-rows: repeat(4, max-content);
    row-gap: 23px;
    flex-direction: column;
  }
  /*pools-slider*/
  .pool-slider{
    grid-template-columns: 0px 1fr 0px;
  }
  .pools-slider__title{
    font-size: 43px;
  }
  .pools-slider__img{
    width: 570px;
    z-index: -1;
  }
  .pools-slider__arrow-left, .pools-slider__arrow-right{
    width: 55px;
  }
  .pools-slider__arrow-left{
    margin-right: -45px;
  }
  .pools-slider__arrow-right{
    margin-left: -45px;
  }
  /*dealers-map*/
  .dealers-map__map iframe{
    width: 620px;
    height: 366px;
  }
  /*company-info*/
  .company-info-shadow{
    top: -300px;
    left: -120px;
    height: 1200px;
    width: 900px;
  }
  .company-info{
    flex-direction: column;
  }
  .phone-number__title{
    text-align: center;
    font-size: 43px;
  }
  .pnone-number__text{
    text-align: center;
    font-size: 36px;
  }
  .pnone-number__form{
    margin: 0 auto;
    height: 286px;
    width: 343px;
    display: flex;
    flex-direction: column;
  }
  .display--hide{
    display: block;
    color: #00020E;
  }
  .phone-number__description{
    text-align: center;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .display--hide2{
    display: none;
  }
  .pnone-number__button{
    margin: 0 auto;
  }
  .call-us{
    margin: 0 auto;
    margin-top: 60px;
  }
  /*footer*/
  .footer{
    position: relative;
  }
  .email-link{
    position: absolute;
    left: 0px;
    top: 90px;
  }
}