@media (max-width: 640px) {
  /*Global*/
  .page__body{
    width: 620px;
  }

  /*Header*/
  .header__nav{
    display: none;
  }
  .header__contacts{
    display: none;
  }
  .header__burger{
    display: block;
  }
  /*main__section*/
  .main__section{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    justify-items: center;
  }
  .title__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    text-align: center;
  }
  .title__text{
    text-align: center;
  }
  .title__button{
    margin: 0 auto;
  }
  .pluses{
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .pluses__elm--center{
    margin: 0 auto;
    width: 220px;
  }
  /*about-company*/
  .about-company__list{
    flex-wrap: wrap;
  }
  /*pool-pluses*/
  .pool-pluses__title{
    width: 430px;
    text-align: center;
  }
  .child-title-2{
    font-weight: normal;
    font-size: 36px;
  }
  .pool-pluses-list{
    justify-content: center;
    margin-bottom: 30px;
  }
  /*pools-series*/
  .pools-series__title{
    font-size: 42px;
    width: 628px;
  }
  .child-title{
    font-size: 35px;
  }
  .series-description{
    width: 620px;
    height: 634px;
    padding-left: 15px;
    grid-template-areas: "title img"
                         "feature size"
                         "feature btn";
  }
}

